body {
    display: flex;
    background-image: url(https://media1.tenor.com/m/XPiWs5il8owAAAAC/tung-tungtung-tungtungtung-sahur-tungtungtungsahur-tungtungsahur.gif);
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.gifFloat{
    position: fixed;
    width: 300px;
    animation: float 4s infinite;
    z-index: 10;
}

.gif1{
    top: 70%; left: 0%;
}
.gif2{
    top: 30%; left: 70%; animation-delay: 0.7s  ;
}

.gif3{
    top: 20%; left: 5%; animation-delay: 0.7s  ;
}

.gif4{
    top: 70%; left: 80%; animation-delay: 0.7s  ;
}

.gif5{
    top: 0%; left: 90%; animation-delay: 0.7s  ;
}


@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

.content {
    width: 60%;
    min-width: 800px;
    border: 6px solid rgb(119, 0, 255);
    border-radius: 20vh;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    text-align: center;
}

.container {
    display: grid;
    z-index: 0;
    grid-gap: 5px;
}

.movingDiv {
    background-color: rgb(255, 166, 0);
    border: 6px solid rgb(119, 0, 255);
    border-radius: 10vh;
    animation: move 0.67s infinite
}

@keyframes move {
    0%, 50%, 100% { transform: translate(0, 0); }
    25% { transform: translate(10px, 0); }
    75% { transform: translate(-10px, 0); }
}

.content2 {
    width: 800px;
    border: 6px solid rgb(119, 0, 255);
    border-radius: 20vh;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    text-align: center;
}